@media ( max-width: 1200px )
    .container
        max-width: 960px
    .slider
        width: 590px
    .swiper
        &-slide
            &__image
                width: 100%
                height: 100% 
                object-fit: cover   
@media ( max-width: 992px )
    .container
        max-width: 700px
    .logo
        width: 132px    
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px 
    .search
        width: 340px 
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row 
    .booking
        width: 340px               
    .slider
        width: 100% 
    .map
        width: 340px    
    .reviews
        &-slider
            &__item
            max-width: 580px
            margin-left: 100px                                    
@media ( max-width: 767px )
    .container, .newsletter-wrapper 
        max-width: 705px  
    .logo
        width: 130px
    .navbar
        &__search
            width: 340px
            margin-left: 50px
        &__user
            margin-right: 6px
            margin-top: 3px
        &-bottom
            max-height: 60px    
        &-menu
            max-width: 673px
            padding-top: 18px
            margin-left: 13px
    .hotel
        padding-bottom: 60px
        &-info
            padding-right: 5px
            &__rating
                margin-top: 5px
    .booking
        max-width: 340px
        padding: 27px 20px 20px 20px  
        &__info
            padding: 2px 2px 2px 2px              
    .slider
        width: 700px
        height: 450px
    .newsletter
        height: 260px  
        &-wrapper
            margin-right: 23px  
            padding-top: 18px

@media ( max-width: 740px  )
    .container
        max-width: 680px  
    .logo
        width: 130px
    .navbar
        &__search
            width: 340px
            margin-left: 50px
        &__user
            margin-right: 5px
        &-menu
            max-width: 673px
            margin-left: 13px
    .hotel
        &-info
            padding-right: 5px
    .slider
        height: 350px
    .hotel
        &-right
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        width: 100% 
    .newsletter
        &-wrapper
            max-width: 680px
            flex-direction: column
            align-items: flex-start                                                
       
@media ( max-width: 680px )
    .container
        max-width: 280px
    .logo
        width: 99px
    .navbar
        &-top
            padding-top: 28px    
        &__search, &-menu, &__user
            display: none
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: $light
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color                                      
    .hotel
        padding: 0
        margin-bottom: 12px
        &__name
            flex-basis: 100%
        &-wrapper
            max-width: 269px
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0 
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
        &-grid
            margin-top: 15px     
    .stars
        flex-basis: auto
        margin-right: 5px
    .slider
        width: 280px
        height: 180px
        margin: 0
    .booking
        margin-top: 20px 
        &__num
            padding-right: 5px 
        &__button
            font-style: normal
            font-weight: 600
            font-size: 14px
            line-height: 19px      
    .map
        width: 280px
        height: 173px
        margin-bottom: 20px
    .newsletter
        padding: 0 
        min-width: 320px
        min-height: 319px
        &__title
            font-family: Mulish
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
            padding-left: 20px
            padding-bottom: 37px 
            padding-top: 60px
            margin: 0
            &__strong
                font-size: 30px
    .subscribe         
        max-width: 280px
        max-height: 55px
        margin-left: 20px 
        &__input
            font-style: normal
            font-weight: 300
            font-size: 14px
            line-height: 18px
            padding-left: 19px
        &__button
            font-style: normal
            font-weight: bold
            font-size: 12px
            line-height: 15px


        
                                                           
                    
            